meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0")
meta(name="author" content="Старинин Андрей Николаевич")

title= "Старинин Андрей"

link(rel="stylesheet" href="css/style.css")
link(rel="stylesheet" href="css/flex.css")